<div class="contain mt-5 p-5">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="mb-3 col-lg-8 col-sm-9">
        <input
          type="text"
          class="form-control"
          formControlName="movieName"
          placeholder="Search Movies"
        />
      </div>
      <div class="col-lg-2 col-sm-1">
        <button class="btn btn-md">Search</button>
      </div>
    </div>
  </form>

  <div class="row mt-5">
    <div class="col-lg-4" *ngFor="let s of searchResult">
      <div class="row">
        <div class="col-lg-3 mt-4 mb-4">
          <img
            src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}"
            [routerLink]="['/movie', s.id]"
            cursor="pointer"
          />
        </div>
        <div id="details" class="col-lg-9 mt-4 mb-4">
          <h5>{{ s.original_title }}</h5>
          <p>{{ s.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
